main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 80vh;
  align-items: center;
  justify-items: center;
}

.WelcomeHeadline {
  font-size: 40px;
  padding: 40px;
  margin: 0;
}

@media (min-width: 600px) {
  .WelcomeHeadline {
    padding-bottom: 120px;
    margin-right: 50px;
  }
}

.Name {
  margin: 20px 0 5px 0;
}

.WorkTitle {
  font-size: 26px;
  margin: 2px;
}

.ProfilePicture {
  height: 150px;
}

.Profile {
  display: grid;
  justify-items: center;
  padding: 40px;
}

@media (min-width: 600px) {
  .Profile {
    padding-bottom: 120px;
  }
}

.IconContainer {
  margin-top: 10px;
}

.Icon {
  height: 24px;
  padding-right: 10px;
}
