body {
  background-color: #f7f7f7;
  font-family: "Sen", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  align-items: center;
  justify-items: center;
}

.WelcomeHeadline {
  font-size: 40px;
  padding-bottom: 100px;
}

.profilePicture {
  height: 200px;
}
