body {
  background-color: #f7f7f7;
  font-family: 'Sen', sans-serif;
  /* height: 100vh; */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 100px 0 0;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

@media (max-width: 600px) {
  ul {
    margin: 20px;
    display: flex;
    justify-content: center;
  }
}

li {
  display: inline;
  padding: 5px;
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
}

li a:hover {
  cursor: pointer;
  background: #03fcca;
}
